.links{
    background: #f0f2f9;
    padding: 4px 12px;
    border-radius: 4px;
    width: fit-content;
}

.bricksContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;
    gap: 8px;
}

.addLink{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    gap: 8px;
}

.addLinkContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}