.startButton{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background: #1777f2;
    border-radius: 13px;
    height: 40px;
    width: 100%;
    border: 0;
    color: white;
}