#root {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}
.mainPage{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input{
  display: flex;
  background: #f6f7fb;
  color: black;
  padding: 12px;
  width: 220px;
  border-radius: 15px;
  border: 1px solid transparent;
}

input[type="date"]{
  width: 130px;
}

::-webkit-calendar-picker-indicator{
  background-color: #242424;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}