.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    border-radius: 15px;
    background: #323639;
    max-width: 72%;
}

.name, .date, .caption{
    margin: 0;
}

.link{

}

.city{

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stack{
    display: flex;
    flex-direction: row;
    gap: 8px;
}